
<div class="footer-container mt-5">
  <div class="footer-section">
       <a href="" class="navbar-brand p-0 d-flex">
            <img src="assets/common/logo.png" alt="" class="logo">
        </a>
          <!-- <div class="logo_text">green soft</div> -->
    <ul>
      <li>Green Soft is a trusted demoestic and commerical water purification company in Chennai, Tamil Nadu. We offer a wide range of water purifiers, Softeners, Iron removal filters, solar water heaters, Heat pump water heaters, Water dispensers and RO filters at best prices. We also provide repair, services and maintenance of above mentioned products at your doorstep.</li>
    </ul>
  </div>

  <div class="footer-section">
    <h4>Explore</h4>
    <ul>
      <li>Our Products</li>
      <li>Our Service</li>
      <li>About us</li>
      <li>Contact Us</li>
      <li>Blog</li>
    </ul>
  </div>

  <div class="footer-section">
    <h4>Business Hours</h4>
        <div class="mb-3">
                        <h6 class="text-muted mb-0">Mon - Friday:</h6>
                        <p class="text-white mb-0">09.00 am to 07.00 pm</p>
                    </div>
                    <div class="mb-3">
                        <h6 class="text-muted mb-0">Saturday:</h6>
                        <p class="text-white mb-0">10.00 am to 05.00 pm</p>
                    </div>
                    <div class="mb-3">
                        <h6 class="text-muted mb-0">Vacation:</h6>
                        <p class="text-white mb-0">All Sunday is our vacation</p>
                    </div>
  </div>

          <div class="footer-section">
                <div class="footer-item d-flex flex-column">
                    <h4 class="text-white mb-4">Contact Info</h4>
                    <a class="text-white mb-2"><i class="fa fa-user me-2"></i>Managing Directors: Mr. Surya & Mr. Sundar</a>
                    <a class="text-white mb-2"><i class="fa fa-map-marker-alt me-2"></i>#22, Praksh Nagar Main Road, Nemilicherry, Tiruvallur-602024</a>
                    <a class="text-white mb-2"><i class="fas fa-envelope me-2"></i>sswaterpurifier07@gmail.com</a>
                    <a class="text-white mb-2"><i class="fas fa-phone me-2"></i> +91 9884883171</a>
                    <a class="text-white mb-2"><i class="fas fa-print me-2"></i> +91 8122229436</a>
                </div>
            </div>

  <div class="footer-subscribe">
    <h4>Sign up for new stories and personal offers</h4>
    <div class="subscribe-box">
      <input type="email" placeholder="E-mail" />
      <button>&#10140;</button>
    </div>
  </div>
</div>
