@import '../../variables.scss';

.footer{
    background-color:#002b4e;
}
.footer .footer-item a {
    line-height: 35px;
    color:grey;
    transition: 0.5s;
}
.footer .footer-item p {
    line-height: 35px;
    color: gray;
}
a {
    text-decoration: none;
}
.footer .footer-item a:hover {
    letter-spacing: 1px;
    color: $info-color !important;
}
.footer-container {
  background: #02294b;
  color: white;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.footer-section h4,
.footer-subscribe h4 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  font-size: 15px;
  cursor: pointer;
}

.subscribe-box {
  display: flex;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.subscribe-box input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.subscribe-box button {
  background: #f5b6b6;
  border: none;
  width: 50px;
  cursor: pointer;
  font-size: 20px;
}

@media(max-width: 600px) {
  .footer-container {
    padding: 20px;
  }
}
.logo{
    width: 60px;
    height: 60px;
    //margin-top: 10px;
}
 .logo_text {
     font-family: "Cormorant Garamond", serif;
      font-size: 42px;
      font-weight: 700;
      font-style: italic;
      background: linear-gradient(to right, #2c8f55, #0f5c96);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }