<div class="container-fluid about py-2">
    <div class="container py-3 top_space">
        <div class="row g-5">
            <div class="col-xl-6 fadeInLeft">
                <div class="about-img rounded">
                    <img src="assets/other/commercial.png" class="home_banner" alt="">
                    <div class="about-exp"><span>10+ Years Experiance</span></div>
                </div>
            </div>
            <div class="col-xl-6 fadeInRight">
                <div class="about-item">
                    <!-- <h4 class="text-primary text-uppercase about">About Us</h4> -->
                     <a href="#" class="h4 d-inline-block mb-3">About Us</a>
                  <p class="mb-4 text-para">Green Soft is an certified water treatment company based in Chennai that offers a range of water purification sales and services. More than 10 years of combined engineering experience in the water treatment business led to the 2016 establishment of our company. We provide a range of services including filtration, purification and wastewater treatment. We are manufacturing our own brand water dispenser with best quality. <br>
                    <br>

                    We carry the entire line of RO products and offer RO repair services. We are the go-to specialists regarding RO purifiers, water softeners, industrial RO plants, and iron removal filters. Trust Green Soft to safeguard your water resources and enhance the quality of life for generations to come.</p>
                    <h1 class="display-3 mb-3 message">We deliver commercial RO plant.</h1>
                    <p class="mb-4 text-para">We offer a wide range of industrial and commercial water treatment equipment that purifies water by deploying advanced RO technology that meets the challenging environment of industries. One of the best commercial RO plant manufacturer in India. we believe that access to clean, healthy, and high-quality water is essential for your home, office, or business. We are committed to delivering water that meets the highest standards of purity and taste. Whether you need drinking water, soft water, or specialized water solutions, we’ve got you covered.
                    </p>
                
            </div>
        </div>
    </div>
</div>

<div class="container-fluid about py-2">
    <div class="container py-3 top_space top_space_mobile">
        <div class="row g-5">
                <div class="col-md-3 bg-light rounded p-4 mb-4 mobile_bottom">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex">
                                    <div class="pe-4">
                                        <div class="rounded-circle bg-primary d-flex align-items-center justify-content-center"
                                            style="width: 80px; height: 80px;"><i
                                                class="fas fa-tint transparent fa-2x"></i></div>
                                    </div>
                                    <div class="">
                                        <a href="#" class="h4 d-inline-block mb-3">Our Satisfied Customer</a>
                                        <p class="mb-0 text-para">We have more than 10,000 satisfied customers in Chennai and Tamil Nadu, and we are working to expand our business all over India. which has helped us reach this milestone. Besides, we provide free in-house demonstrations and free water quality assessments around Chennai. This further strengthens our bond with our customers.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 bg-light rounded p-4 mb-4 mobile_bottom">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex">
                                    <div class="pe-4">
                                        <div class="rounded-circle bg-primary d-flex align-items-center justify-content-center"
                                            style="width: 80px; height: 80px;"><i
                                                class="fa fa-universal-access transparent fa-2x"></i></div>
                                    </div>
                                    <div class="">
                                        <a href="#" class="h4 d-inline-block mb-3">Standard Product</a>
                                        <p class="mb-0 text-para">we provide top-tier water solutions designed to meet the everyday needs of homes, businesses, and industries. Our Standard Products combine superior quality, reliability, and affordability to ensure you get the best water experience possible.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 bg-light rounded p-4 mb-4 mobile_bottom">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex">
                                    <div class="pe-4">
                                        <div class="rounded-circle bg-primary d-flex align-items-center justify-content-center"
                                            style="width: 80px; height: 80px;"><i
                                                class="fas fa-tint transparent fa-2x"></i></div>
                                    </div>
                                    <div class="">
                                        <a href="#" class="h4 d-inline-block mb-3">Our Partnerships</a>
                                        <p class="mb-0 text-para">Commercial RO system installation and maintenance are another area of expertise of ours. As a leading provider of industrial RO systems, we have installed over a hundred of them for a variety of clients across southern India, including universities, hospitals, hotels, and large corporations.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 bg-light rounded p-4 mb-4 mobile_bottom">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex">
                                    <div class="pe-4">
                                        <div class="rounded-circle bg-primary d-flex align-items-center justify-content-center"
                                            style="width: 80px; height: 80px;"><i
                                                class="fa fa-universal-access transparent fa-2x"></i></div>
                                    </div>
                                    <div class="">
                                        <a href="#" class="h4 d-inline-block mb-3">Our Promise</a>
                                        <p class="mb-0 text-para">High quality, prompt delivery, and excellent customer service are the cornerstones of our business. Additionally, our service engineers’ years of expertise and certifications speak to their professionalism. We have advanced equipment for the highest quality of service.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <a href="#" class="btn btn-secondary rounded-pill py-3 px-5">Read More</a> -->
                </div>
        </div>
    </div>
    </div>
<div class="globe_service">

<video src="assets/other/svideo.mp4" autoplay loop style="width: 100%;"></video>

<div class="container-fluid counter py-3">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 col-lg-6 col-xl-3 fadeInUp">
                <div class="counter-item">
                    <div class="counter-item-icon mx-auto">
                        <i class="fas fa-thumbs-up fa-3x transparent"></i>
                    </div>
                    <h4 class="text-white">Happy Clients</h4>
                    <div class="counter-counting">
                        <span class="text-white fs-2 fw-bold" data-toggle="counter-up">3000</span>
                        <span class="h1 fw-bold text-white">+</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 fadeInUp">
                <div class="counter-item">
                    <div class="counter-item-icon mx-auto">
                        <i class="fas fa-truck fa-3x transparent"></i>
                    </div>
                    <h4 class="text-white">Transport</h4>
                    <div class="counter-counting">
                        <span class="text-white fs-2 fw-bold" data-toggle="counter-up">8</span>
                        <span class="h1 fw-bold text-white">+</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 fadeInUp">
                <div class="counter-item">
                    <div class="counter-item-icon mx-auto">
                        <i class="fas fa-users fa-3x transparent"></i>
                    </div>
                    <h4 class="text-white">Employees</h4>
                    <div class="counter-counting">
                        <span class="text-white fs-2 fw-bold" data-toggle="counter-up">40</span>
                        <span class="h1 fw-bold text-white">+</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 fadeInUp">
                <div class="counter-item">
                    <div class="counter-item-icon mx-auto">
                        <i class="fas fa-heart fa-3x transparent"></i>
                    </div>
                    <h4 class="text-white">Years Experiance</h4>
                    <div class="counter-counting">
                        <span class="text-white fs-2 fw-bold" data-toggle="counter-up">10</span>
                        <span class="h1 fw-bold text-white">+</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



<div class="container-fluid feature bg-light">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5" style="max-width: 800px;">
            <h4 class="text-uppercase text-primary about">Our Feature</h4>
            <h1 class="display-3 text-capitalize mb-3 message">A Trusted Name In Water Purifier Industry</h1>
        </div>
        <div class="row g-4">
            <div class=" col-md-6 col-lg-6 col-xl-3  card">
                <div class="feature-item p-4">
                    <div class="feature-icon mb-3"><i class="fas fa-tint transparent fa-2x"></i></div>
                    <a href="#" class="h4 mb-3">Quality Check</a>
                    <p class="mb-3 card_content">Quality Check is at the core of every solution we deliver at Green Soft.
We follow strict inspection and testing procedures to ensure every system performs with maximum efficiency and reliability.
Our commitment to quality guarantees consistent water purity, long-lasting equipment life, and complete customer satisfaction.</p>
                    <!-- <a href="#" class="btn text-secondary">Read More <i class="fa fa-angle-right"></i></a> -->
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3  card">
                <div class="feature-item p-4">
                    <div class="feature-icon mb-3"><i class="fas fa-filter transparent fa-3x"></i></div>
                    <a href="#" class="h4 mb-3">5 Steps Filtration</a>
                    <p class="mb-3 card_content">our 5-step water filtration process ensures that every drop of water is pure, safe, and refreshing. The process begins with pre-filtration, which removes large particles like sand and dirt. Next, activated carbon filtration eliminates chlorine, bad odors, and harmful chemicals, improving taste and smell. We then use reverse osmosis (RO) to remove up to 99% of dissolved solids, bacteria, and heavy metals, followed by UV sterilization to kill any remaining microorganisms. Finally, post-filtration polishes the water, ensuring it is crystal clear and ready for consumption. With this thorough process, you can trust that your water is of the highest quality.</p>
                    <!-- <a href="#" class="btn text-secondary">Read More <i class="fa fa-angle-right"></i></a> -->
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3  card">
                <div class="feature-item p-4">
                    <div class="feature-icon mb-3"><i class="fas fa-recycle transparent fa-3x"></i></div>
                    <a href="#" class="h4 mb-3">Composition</a>
                    <p class="mb-3 card_content">we use high-quality materials and advanced technology in the composition of our water purifiers to ensure exceptional performance and durability. Our purifiers include activated carbon filters to remove chlorine, chemicals, and odors; reverse osmosis membranes to eliminate heavy metals, bacteria, and viruses; UV sterilization units for neutralizing harmful microorganisms; sediment filters to capture dirt, sand, and rust; and food-grade plastics for safety and durability, ensuring no harmful substances leach into the water. Each component is carefully selected to provide you with the cleanest, safest water possible.</p>
                    <!-- <a href="#" class="btn text-secondary">Read More <i class="fa fa-angle-right"></i></a> -->
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3  card">
                <div class="feature-item p-4">
                    <div class="feature-icon mb-3"><i class="fas fa-tint transparent fa-2x"></i></div>
                    <a href="#" class="h4 mb-3">Services</a>
                    <p class="mb-3 card_content">We ensure reliable water quality that minimizes downtime, reduces maintenance costs, and improves process efficiency. With engineered systems designed for tough industrial environments, we help facilities meet regulatory standards and sustainability goals.</p>
                    <!-- <a href="#" class="btn text-secondary">Read More <i class="fa fa-angle-right"></i></a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<app-review></app-review>