

@import '../../variables.scss';

.about{
    color: $primary-color !important;
    font-size: 1rem;
}
.message{
    font-size: 4rem;
    color: #001442;
    text-transform: capitalize !important;
    font-weight: 700;
    line-height: 1.2;
}
.text-para{
    color: gray;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.bg-light{
    background-color: #f2f9f9 !important;
}
.bg-primary {
    background-color: $primary-color !important;
}
a {
    text-decoration: none !important;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-weight: 500;
    line-height: 1.2;
    color: #001442;
}
p{
    color: gray;
}
.service-item {
    position: relative;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}
.service-item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    background: $primary-color !important;
    transition: 0.5s;
    z-index: 1;
}
// .service-item:hover .service-btn {
//     background: #ffffff;
// }
// .service-item:hover::after {
//     width: 100%;
//     height: 100%;
// }
.service-item .service-btn {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary-color;
    transition: 0.5s;
}
.service_img{
    width: 361px;
    height: 487px;
    margin: 0 auto;
    display: block;
}
.service-bg{
    font-size: 18px !important;
    color: #001442;
    font-weight: 400;
    line-height: 1.8;
}
.page-top-margin{
    margin-top: 20px;
}
.service-bg-img{
    height: 360px;
    width: 360px;
}
.service_bg{
    background-blend-mode: overlay;
    background-image: url(https://lssserviceprovider.com/wp-content/uploads/2021/01/coding-background-texture.jpg), linear-gradient(180deg, #474ab6 0%, #9271f6 100%) !important;

}
.text_white{
    color: $info-color !important;
}