<div class="col-md-12 col-sm-12 bg-light mb-4 p-2">
    <div class="p-4 top_space service_bg">
    <div class="row">
        <div class="col-md-6 col-sm-12 d-flex justify-content-center">
            <img src="assets/bg/services2.png" class="service-bg-img" alt="">
        </div>
        <div class="col-md-6 col-sm-12 py-5">
            <h4 class="text-uppercase text-primary about py-3 text_white">Get in Touch with Us Today for a Water Purifier
                Service and Get the Safest Drinking Water</h4>
            <p class=" text-capitalize mb-3 py-3 text_white"> Giving your family protected and sound water to
                drink is our optimum priority. Living in such contaminated areas of the nation, we can’t
                undermine the drinking water we have. If your water purifier is not performing well, your
                whole family may fall sick. Feel free to contact us to repair your water purifier now.</p>
        </div>
    </div>
    </div>
</div>


<div class="container-fluid service bg-light overflow-hidden py-1">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5  fadeInUp" style="max-width: 800px;">
            <h4 class="text-uppercase text-primary about">Our Service</h4>
            <h1 class="display-3 text-capitalize mb-3 message">Protect Your Family with Best Water</h1>
        </div>
        <div class="row gx-0 gy-4 align-items-center">
            <div class="col-lg-6 col-xl-4  fadeInLeft">
                <div class="service-item rounded p-4 mb-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="service-content text-end">
                                    <a class="h4 d-inline-block mb-3">Top-Quality Water purification</a>
                                    <p class="mb-0">Our product undergoes advanced purification processes to ensure it’s
                                        clean, fresh, and safe to drink. We meet and exceed industry standards for water
                                        quality.</p>
                                </div>
                                <div class="ps-4">
                                    <div class="service-btn"><i class="fa fa-certificate text-white fa-2x"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-item rounded p-4 mb-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="service-content text-end">
                                    <a class="h4 d-inline-block mb-3">Affordable Pricing</a>
                                    <p class="mb-0">Premium water purifier doesn’t have to come at a premium cost. Our
                                        competitive pricing ensures you get the best value for your money.</p>
                                </div>
                                <div class="ps-4">
                                    <div class="service-btn"><i class="fas fa-credit-card text-white fa-2x"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-item rounded p-4 mb-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="service-content text-end">
                                    <a class="h4 d-inline-block mb-3">Water Softening Systems</a>
                                    <p class="mb-0">Eliminate hard water problems with our advanced softening solutions.
                                        Enjoy water that’s gentle on your appliances, skin, and clothes.</p>
                                </div>
                                <div class="ps-4">
                                    <div class="service-btn"><i
                                            class="fas fa-assistive-listening-systems text-white fa-2x"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4  fadeInUp">
                <div class="bg-transparent">
                    <img src="assets/dashboard/banner_service.png" class="service_img" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-xl-4  fadeInRight">
                <div class="service-item rounded p-4 mb-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="pe-4">
                                    <div class="service-btn"><i class="fas fa-filter text-white fa-2x"></i></div>
                                </div>
                                <div class="service-content">
                                    <a class="h4 d-inline-block mb-3">Filtration</a>
                                    <p class="mb-0">We offer top-of-the-line filtration systems to purify your tap
                                        water, ensuring it’s free from contaminants.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-item rounded p-4 mb-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="pe-4">
                                    <div class="service-btn"><i class="fas fa-recycle text-white fa-2x"></i></div>
                                </div>
                                <div class="service-content">
                                    <a class="h4 d-inline-block mb-3">Market Research</a>
                                    <p class="mb-0">Advanced Technologies RO + UV + UF Systems Combined filtration
                                        systems ensure 99.9% removal of contaminants
                                        and IoT-enabled purifiers with real-time monitoring are gaining traction.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-item rounded p-4 mb-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="pe-4">
                                    <div class="service-btn"><i class="fas fa-podcast text-white fa-2x"></i></div>
                                </div>
                                <div class="service-content">
                                    <a class="h4 d-inline-block mb-3">Project Planning</a>
                                    <p class="mb-0">We offer complete water purifier project solutions, from technology
                                        selection to installation, ensuring clean, safe, and reliable water for your
                                        needs.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid testimonial py-3">
    <div class="container py-3">
        <div class="text-center mx-auto pb-5  fadeInUp" style="max-width: 800px;">
            <h4 class="text-uppercase text-primary about">Testimonials</h4>
            <h1 class="display-3 text-capitalize mb-3 message">Our clients reviews.</h1>
        </div>
        <div class="col-12 testimonial-carousel  fadeInUp">
            <div class="row">
                <div class="col testimonial-item text-center p-4">
                    <p>I was worried about high service costs, but their maintenance package was so affordable! They even offered tips for better usage.
                    </p>
                    <div class="d-flex justify-content-center mb-4">
                        <img src="assets/common/image_user.png" class="img-fluid border border-4 border-primary"
                            style="width: 100px; height: 100px; border-radius: 50px;" alt="">
                    </div>
                    <div class="d-block">
                        <h4 class="text-dark">Raja karthikeyan</h4>
                        <div class="d-flex justify-content-center text-secondary">
                            <i class="fas fa-star" style="color: gold;"></i>
                            <i class="fas fa-star" style="color: gold;"></i>
                            <i class="fas fa-star" style="color: gold;"></i>
                            <i class="fas fa-star" style="color: gold;"></i>
                            <i class="fas fa-star" style="color: gold;"></i>
                        </div>
                    </div>
                </div>

                <div class="col testimonial-item text-center p-4">
                    <p>The technician arrived on time and completed the service efficiently. My m/c purifier is running perfectly now. Highly recommend their professionalism!"
                    </p>
                    <div class="d-flex justify-content-center mb-4">
                        <img src="assets/common/image_user.png" class="img-fluid border border-4 border-primary"
                            style="width: 100px; height: 100px; border-radius: 50px;" alt="">
                    </div>
                    <div class="d-block">
                        <h4 class="text-dark">Rajapriya R</h4>
                        <div class="d-flex justify-content-center text-secondary">
                            <i class="fas fa-star" style="color: gold;"></i>
                            <i class="fas fa-star" style="color: gold;"></i>
                            <i class="fas fa-star" style="color: gold;"></i>
                            <i class="fas fa-star" style="color: gold;"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="col testimonial-item text-center p-4">
                    <p>he service team was very knowledgeable and explained every step of the process. It’s great to know my purifier is in expert hands.
                    </p>
                    <div class="d-flex justify-content-center mb-4">
                        <img src="assets/common/image_user.png" class="img-fluid border border-4 border-primary"
                            style="width: 100px; height: 100px; border-radius: 50px;" alt="">
                    </div>
                    <div class="d-block">
                        <h4 class="text-dark">Karthick K</h4>
                        <div class="d-flex justify-content-center text-secondary">
                            <i class="fas fa-star" style="color: gold;"></i>
                            <i class="fas fa-star" style="color: gold;"></i>
                            <i class="fas fa-star" style="color: gold;"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="col testimonial-item text-center p-4">
                    <p>Their customer care team was responsive and helped me book a service in minutes. The follow-up after the visit was an added bonus."
                    </p>
                    <div class="d-flex justify-content-center mb-4">
                        <img src="assets/common/image_user.png" class="img-fluid border border-4 border-primary"
                            style="width: 100px; height: 100px; border-radius: 50px;" alt="">
                    </div>
                    <div class="d-block">
                        <h4 class="text-dark">Dhinesh S</h4>
                        <div class="d-flex justify-content-center text-secondary">
                            <i class="fas fa-star" style="color: gold;"></i>
                            <i class="fas fa-star" style="color: gold;"></i>
                            <i class="fas fa-star" style="color: gold;"></i>
                            <i class="fas fa-star" style="color: gold;"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>