
.detail-container {
    width: 90%;
    margin: 0px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    //box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.breadcrumb {
    font-size: 14px;
    margin-bottom: 20px;
    color: #555;

}

.breadcrumb a {
    color: #777;
    text-decoration: none;
}

.breadcrumb span {
    color: #000;
}

.product-detail {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 115px;
    //box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-title{
    color:#001442 !important;
}
.faq-answer{
        color: #002B4E !important;
}
.accordion-button:not(.collapsed) {
    color: #030303 !important;
    background-color: #FFEEE7 !important;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125) !important;
    font-weight: bold !important;
}
.description{
    font-size:16px;
    font-weight:700;
    margin-bottom:15px;
}
.product-images {
    flex: 1;
}

.main-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    //margin-top:15px;
}

.thumbnail-images {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-left:30px;
}

.thumbnail-images img {
    width: 75px;
    height: 75px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.product-info {
    flex: 1.5;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    padding-left:30px;
}

.product-info h1 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #000;
}

.sku {
    font-size: 14px;
    color: #999;
}

.price {
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
}

.payment-info {
    font-size: 14px;
    color: #555;
}

.payment-info a {
    text-decoration: none;
    color: #000;
}

.options {
    margin-bottom: 20px;
}

.option-label {
    font-weight: bold;
    margin-bottom: 5px;
}
.feature-label{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.option-buttons {
    display: flex;
    gap: 10px;
}

.option-buttons button {
    padding: 20px 20px;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    border-radius: 25px;
    font-size: 14px;
}

.option-buttons button.active {
    border-color: #f4b400;
    background: #f4b400;
    color: #fff;
    font-weight: bold;
}

/* Quantity section */
.quantity-section {
    display: flex;
    align-items: center;
    margin-right: 10px;

}

.quantity-section button {
    padding: 10px 15px;
    border: 1px solid #e6e6e6;
    background: #fff;
    cursor: pointer;
    border-radius: 5px;

}

.quantity-input {
    width: 50px;
    text-align: center;
    margin: 0 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 10px 15px;
}

/* Actions */
.actions_wrraper {
    display: flex;
    // border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
}

.call-me {
    background-color: #19409a;
    color: #fff;
    border-radius: 10px;
}

.buy-now {
    background: #b12704;
    color: #fff;
}

.wishlist {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.tabs {
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
}

.tabs button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
    padding: 10px 0;
    border-bottom: 2px solid transparent;
}

.tabs button.active {
    border-color: #000;
    font-weight: bold;
}

.tab-content {
    margin-top: 0px;
    font-size: 14px;
    color: #555;
    line-height: 1.8;
}

.additional-info {
    font-size: 14px;
    margin-top: 20px;
    // border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.reviews {
    margin-top: 40px;
}

.reviews h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.reviews p {
    font-size: 14px;
    margin-bottom: 10px;
}

.related-products {
    margin-top: 40px;
}

.related-products h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.related-products .product {
    display: inline-block;
    width: 240px;
    text-align: center;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 15px;
    cursor: pointer !important;
}

.related-products img {
    width: 100%;
    border-radius: 8px;
}

.related-products p {
    margin-top: 10px;
    font-size: 14px;
}

footer {
    margin-top: 40px;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #777;
}

footer a {
    color: #555;
    text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .options {
        margin-bottom: 20px;
        margin-left: 30px;
    }
    footer {
        margin-top: 0px;

    }

    .reviews {
        text-align: center;
        margin-top: 0;
    }

    .related-products {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-detail {
        flex-direction: column;
        align-items: center;
    }

    .product-images,
    .product-info {
        flex: none;
        width: 100%;
    }

    .product-info h1 {
        font-size: 22px;
        margin-left: 30px;
    }

    .price {
        font-size: 24px;
        margin-left: 30px;
    }

    .actions_wrraper {
        display: flex;
        border-bottom: 1px solid #ddd;
        flex-direction: column;
        padding-bottom: 20px;

    }

    .actions {
        margin-top: 20px;
    }

    .action-buttons {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quantity-section {
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
    }

    .wishlist {
        justify-content: center;
    }

    .tabs {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .thumbnail-images img {
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }
}
.relatedProductImg{
    height: 200px !important;
    width: 200px !important;
}
.feature-text{
    margin-left: 10px !important;
}
.model-inner {
    padding: 15px;
    border-radius:10px;
}
.form-floating label{
    color: grey;
}
.close{
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}
hr:not([size]) {
    height: 0.5px;
}

.faq-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
font-family: "Poppins", sans-serif !important;
  color: #1a2e45;
}


hr {
  border: none;
  border-bottom: 1px solid #d5d9e1;
  margin-top: 15px;
}
.spec-key{
    color: #1a2e45; 
}
.spec-value{
        color: #1a2e45; 
}