.loader-background{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(39, 39, 39);
    z-index: 111;
    opacity: 0.6;
  }
  
  .loader-content{
    width:64px;
    height:64px;  
    z-index: 999;
    margin: auto; 
    display: block;
    margin-top: 20%;
  }