// @import '../../variables.scss';

// .about{
//     color: $primary-color !important;
//     font-size: 1rem;
// }
// .message{
//     font-size: 4rem;
//     color: #001442;
//     text-transform: capitalize !important;
//     font-weight: 700;
//     line-height: 1.2;
// }
// .text-para{
//     color: gray;
//     font-size: 1rem;
//     font-weight: 400;
//     line-height: 1.5;
// }
// .bg-light{
//     background-color: #f2f9f9 !important;
// }
// .bg-primary {
//     background-color: $primary-color !important;
// }
// a {
//     text-decoration: none !important;
// }
// h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
//     font-weight: 500;
//     line-height: 1.2;
//     color: #001442;
// }
// p{
//     color: gray;
// }
// .btn-secondary {
//     color: #fff;
//     background-color: $secondary-color;
//     border-color: $secondary-color;
// }
// .btn.btn-secondary:hover {
//     background: $primary-color;
//     border: 1px solid $primary-color;
// }
// .product .product-item {
//     border: 1px solid rgba(196, 211, 211, 0.9);
//     border-radius: 10px;
// }
// .rounded-bottom {
//     border-bottom-right-radius: 10px !important;
//     border-bottom-left-radius: 10px !important;
// }
// .product-img{
//     width: 265px;
//     height: 310px;
//     margin: 22px auto;
//     display: block;
//     border-radius: 5px;
// }
// .product-content{
//     height: 100%;
// }
// .listing{
//     margin-top: -14px;
//     margin-right: 10px;
// }
// .view_pdt{
//     margin-top: 3px;
// }
// .head-title{
//     height: 48px;
// }
// .ellipsis {
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }

.container1{
  padding-left: 0px;
  padding-right: 0px;
}


.card-img-top {
  // object-fit:contain;
  // width: 100%;
  // height: 380px;
  // border-radius: 40px;
    width: 240px;
    height: 240px;
    margin: 36px auto;
    display: block;
}

.card {
  border-radius: 18px;
  border-radius: 40px;
      background-color: #f3f5f7;
}

.card-body {
  padding: 1rem 1.2rem;
}

.badge {
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 12px;
      background: red;
}

.card-title {
  line-height: 1.2;
      font-weight: 700;
    margin-bottom: 15px;
}
.container1{
    margin: 130px 20px;
}
.product-caption{
  color:#001442;
  background: #FFC7C6;
  padding: 15px 10px;
}