@media (min-width: 320px) and (max-width:480px) {
    .login-section{
        top: 0px !important;
        left: 0px !important;
        position: relative !important;
    }
    .banner-sec{
        display:none !important;
    }
    .form_section{
        margin-top:20px !important;
        padding:10px !important;
    }
  }