// .carousel .carousel-control-prev .carousel-control-prev-icon, .carousel .carousel-control-next .carousel-control-next-icon {
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     padding: 25px 25px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background: $primary-color;
//     transition: 0.5s;
// }


@import '../../variables.scss';

.about{
    color: $primary-color !important;
    font-size: 1rem;
}
.message{
    font-size: 3rem;
    color: #001442;
    text-transform: capitalize !important;
    font-weight: 700;
    line-height: 1.2;
}
.text-para{
    color: gray;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.bg-light{
    //background-color: #f2f9f9 !important;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
}
.bg-primary {
    background-color: $primary-color !important;
}
a {
    text-decoration: none !important;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-weight: 500;
    line-height: 1.2;
    color: #001442;
}
p{
    color: #001442;
}
.btn-secondary {
    color: $info-color;
    background-color: $secondary-color;
    border-color: $secondary-color;
}
.counter {
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(25, 64, 154, 0.9), rgba(25, 64, 154, 1)), url(/assets/common/fact-bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.counter .counter-item .counter-item-icon {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: $primary-color;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.counter .counter-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.feature .feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: $info-color;
    border-radius: 10px;
    transition: 0.5s;
}
.feature .feature-item .feature-icon {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary-color;
}
.card{
    border:none !important;
    background: none !important;
}
.text-secondary {
    color: $secondary-color !important;
}
.about .about-img .about-exp {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px;
    font-size: 30px;
    font-weight: bold;
    background: $secondary-color;
    color: $info-color;
    border: 1px solid $secondary-color;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 10px;
}
.about .about-img {
    position: relative;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;
}
.about .about-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    top: -30px;
    right: 0;
    border-radius: 10px;
    background: $secondary-color;
}
.about .about-img::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    left: -30px;
    bottom: 30px;
    border-radius: 10px;
    background: $secondary-color;
}
.card_content{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
.home_banner{
    width: 100%;
    height: 70%;
}
.title_home{
    padding-top: 15px;
}
.image{
    height: 750px;
}
.carousel-content{
    position: absolute;
    top: 1%;
}
.heading{
    color: white;
    font-size: 60px;
}
.content{
    color: white;
    font-size: 32px;
}
/*** Carousel Hero Header Start ***/
.carousel-header {
    position: relative;
    overflow: hidden;
}

.carousel-indicators {
    display: none;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
    width: 0;
}

.carousel .carousel-control-prev .carousel-control-prev-icon,
.carousel .carousel-control-next .carousel-control-next-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 25px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bs-primary);
    transition: 0.5s;
}

.carousel .carousel-control-prev .carousel-control-prev-icon {
    left: 0;
    border-left: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 50px;

}

.carousel .carousel-control-next .carousel-control-next-icon {
    right: 0;
    border-right: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 0;
}

.carousel .carousel-control-prev .carousel-control-prev-icon:hover,
.carousel .carousel-control-next .carousel-control-next-icon:hover {
    background: var(--bs-secondary);
}

.carousel .carousel-inner .carousel-item {
    position: relative;
}

.carousel .carousel-inner .carousel-item .carousel-caption-1  {
    position: absolute;
    // width: 100%;
    // height: 100%;
    top: 0;
    left: 0;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5));
    background-size: cover;
}

.carousel-caption-1-content {
    text-align: end;
    padding-right: 100px;
}

.carousel-caption-1-content .carousel-caption-1-content-btn {
    display: flex;
    justify-content: end;
}

.carousel .carousel-inner .carousel-item .carousel-caption-2  {
    position: absolute;
    // width: 100%;
    // height: 100%;
    // top: 0;
    // left: 0;
    padding-top: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    
}

.carousel-caption-2-content {
    text-align: start;
    padding-left: 100px;
}

.carousel-caption-2-content .carousel-caption-2-content-btn {
    display: flex;
    justify-content: start;
}


@media (max-width: 992px) {
    .carousel .carousel-inner .carousel-item {
        height: 700px;
        margin-top: -100px;
    }

    .carousel .carousel-inner .carousel-item img {
        height: 700px;
        object-fit: cover;
    }


    .carousel .carousel-inner .carousel-item .carousel-caption-1 {
        max-width: 100% !important;
        justify-content: center;
    }

    .carousel-caption-1-content {
        padding: 0 20px !important;
        text-align: center !important;
    }

    .carousel-caption-1-content .carousel-caption-1-content-btn {
        justify-content: center;
    }


    .carousel .carousel-inner .carousel-item .carousel-caption-2 {
        max-width: 100% !important;
        justify-content: center;
    }

    .carousel-caption-2-content {
        padding: 0 20px !important;
        text-align: center !important;
    }

    .carousel-caption-2-content .carousel-caption-2-content-btn {
        justify-content: center;
    }



    .carousel .carousel-control-prev .carousel-control-prev-icon,
    .carousel .carousel-control-next .carousel-control-next-icon {
        display: none;
    }
}

.modal .modal-header {
    height: 100px;
}

#searchModal .modal-content {
    background: rgba(255, 255, 255, .6);
}
.img-fluid{
    // height: 480px;
    width: 100%;
}
/*** Carousel Hero Header End ***/
.display-2{
    font-size: 2rem !important
}
.product .product-item {
    border: 1px solid rgba(196, 211, 211, 0.9);
    border-radius: 10px;
}
.rounded-bottom {
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}
.product-img{
    width: 100%;
    height: 310px;
    //margin: 22px auto;
    display: block;
    border-radius: 26px;
}
.product-content{
    // height:310px;
    height: 100%;
    text-align: center;
}
.bottom_space{
    margin-top:20px;
}
.display-3{
    font-size: 2.5rem !important;
}
.btns{
    padding: 15px;
    text-align: center;
}
.discovered{
    //margin-top:60px;
    padding-right:48px;
    padding-left:48px;
    background-color: #F2F9FF;
}
.product-caption{
    //font-weight: 700;
    line-height: 1.2;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    //color: #1A1A1A;
}
.header-sec{
    font-weight: 700;
    font-size:32px !important;
    padding-top:60px;
    margin-bottom: 32px;
}
.display-3{
    font-size: 18px !important;
}
.logo{
    object-fit: contain;
    border: 1px solid #002B4E;
    background: linear-gradient(90deg, #053065 0%, #0F78BD 100%);
    background: radial-gradient(
  circle,
  rgba(255, 255, 255, 0) 0%,      /* fully transparent center */
  rgba(15, 120, 189, 0.8) 50%,    /* sky blue mid glow */
  rgba(5, 48, 101, 1) 100%        /* dark blue edges */
);
}
.carousel-caption-1-content{
    margin-top: 20px !important;
}